<div class="option o1">
	<%= link_to fabrik_book_path, class: 'ds-link', target: '_blank' do %>
		View on fabrikstyle.com
	<% end %>
</div>

<div class="option o2">
	<%= link_to amazon_book_path, class: 'ds-link', target: '_blank' do %>
		View on amazon.com
	<% end %>
</div>