<% @page_title = "About Dana" %>
<% @page_description = "" %>


<%= render 'shared/collage-hd' %>
<div class="ab-sec bio">
	<div class="inside">
		<div class="text">
			<h1 class="as-title"><span class="norm">fab’rik</span> Founder & CVO</h1>
			<p>Born and raised by entrepreneurs, <span class="norm">fab’rik</span> Founder Dana Spinola has been taught from a young age that if you love what you do you will never work another day in your life. This mantra inspired her to leave Corporate America, and open her first boutique in 2002. Since then, she has carried her mission of High Style With Heart nationwide with over 40 locations and growing. </p>
		</div>

		<div class="image"></div>
	</div>
</div>

<div class="ab-sec rec">
	<div class="inside">
		<div class="image"></div>

		<div class="text">
			<h3 class="as-title">Author &amp; Speaker</h3>
			<p>Forbes called her “one of the five great american entrepreneurs you haven’t heard of yet but should know” because of her dedication to not only building a growing fashion brand but for inspiring a culture of people to weave purpose into their companies and their life. </p>

			<p>She has been voted Business Person of the Year, Women Making a Mark, and has appeared in dozens of publications from Wall Street Journal to Elle.</p>
		</div>
	</div>
</div>


<div class="ab-sec philanth">
	<div class="inside">
		<div class="image"></div>

		<div class="text">
			<h3 class="as-title">Philanthropist</h3>
			<p>Dana has always believed that clothing has the ability to change lives. In 2009, she launched the brand's nonprofit, <span class="norm">free fab’rik</span>, which provides free shopping sprees for women in need. She then launched <span class="norm">fab’rik’s</span> clothing line, Asher, in which proceeds go to support the adoption process for children in Africa.</p>
			<%= link_to(image_tag('asher-lt.png', class: 'img-responsive logo inline ash', alt: ''), asher_path, target: '_blank', class: 'logo-link') %>
			<%= link_to(image_tag('free-fabrik.png', class: 'img-responsive logo inline free', alt: ''), ff_path, target: '_blank', class: 'logo-link') %>
		</div>
	</div>
</div>

<div class="ab-sec message">
	<div class="inside">
		<div class="text">
			<h3 class="as-title">Mom of 4</h3>
			<p> Author and Inspirational speaker, Dana is committed to reminding people to dream big and then chase those dreams relentlessly. She wrote the book, love what you do, as a guide to ignite your passion, find your purpose and live life with meaning. While Dana sits at the head of a leading fashion franchise as well as a non-profit organization, her most rewarding job is being a wife and mom to her four children and 20 chickens!</p>
		</div>

		<div class="image"></div>
	</div>
</div>

