<% @page_title = "Purchase Options" %>
<% @page_description = "" %>


<div class="book">
  <div class="bulk top-blk">
    <div class="inside med">

      <div class="image">
        <%= image_tag('reader3.jpg', class: 'img-responsive img1', alt: '') %>
        <%= image_tag('reader2.jpg', class: 'img-responsive img2', alt: '') %>
      </div>  

      <div class="text">
        <h2 class="buy">love what you do.</h2>
        <h1 class="buy">Order your copy today!</h1>
        <%= render 'book-options' %>
        <div class="clearfix"></div>
        <h4>Books retail for $22, but we also offer the group rates listed below for anyone interested in providing every member of their team with a gift that will inspire and refuel them. </h4>
      </div>
    </div>
  </div>

  <div class="purchase2">
    <div class="inside">
      <p class="book-pkgs"><span>Buy 50 books:</span><br> 10% off order</p>
      <p class="book-pkgs"><span>Buy 100 books:</span><br> 20% off order</p>
      <p class="book-pkgs"><span>Buy 250 books:</span><br> 30% off order</p>
      <p class="book-pkgs"><span>Buy 1000 books:</span> <br>40% off order</p>
    </div>
  </div>
</div>