<% @page_title = "Purchase Options" %>
<% @page_description = "" %>


<div class="book lay2">
	<div class="inside med2">
		<div class="book-header2">
			<div class="text">
				<h2>Ignite your passion.<br><span style="margin-left: 25px;"></span> Find your purpose.<br>Live life with meaning.</h2>
				<h1 style="margin-top:-20px; text-transform: lowercase;margin-left: 25px;">love what you do.</h1>
			</div>

			<div class="image">
				<%= image_tag('dana-bio3.jpg', class: 'img-responsive', alt: '') %>
			</div>
		</div>
	</div>

	<div class="purchase2">
		<div class="inside">
			<h3>Purchase Options:</h3>
			<%= render 'book-options' %>
		</div>
	</div>
</div>



	<!-- Dana Spinola is the founder of fab’rik boutiques, free fab’rik non-profit, Asher clothing line, and a mother of four. Forbes called her “one of the five great american entrepreneurs you haven’t heard of yet but should know” because of her dedication to not only building a growing fashion brand but for inspiring a culture of people to weave purpose into their companies and their life. She was voted business person of the year, women making a mark, 40 under 40, and has appeared in dozens of publications from Wall Street Journal to Elle. Motivational and inspirational leader, Dana is committed to reminding women to dream big and then chase those dreams relentlessly.

	Dana wants you to share what inspires you, what ignites your passion, and how you love what you do by joining her launch team. Members of the launch team will receive vip tickets to the fashion show launch party, a private fab’rik discount code, and a free audiobook. By sharing what you love on social media with your copy of the book and tagging #lovewhatyoudo and @danaspinola, you’ll help spread the fire to ignite passion and pursue your purpose while being a part of the mission to inspire others to love what they do.

	 -->


		<!-- Books retail for $22, but we also offer the group rates listed below for anyone looking to reignite the passion that drives their whole team. Order 100+ and Dana will come lead a Dream Session with you and your team! -->

