<% @page_title = "Purchase Options" %>
<% @page_description = "" %>


<div class="book">
	<div class="inside med2-def">
		<div class="book-header2">
			<div class="text">
				<!-- <h2>Ignite your passion.<br><span style="margin-left: 25px;"></span> Find your purpose.<br>Live life with meaning.</h2> -->
				<h2 class="buy">love what you do.</h2>
				<h1 class="buy">Order your copy today, and start chasing your dreams!</h1>
			</div>

			<div class="image">
				<%= image_tag('dana-book.jpg', class: 'img-responsive', alt: '') %>
			</div>
		</div>
	</div>

	<div class="purchase2">
		<div class="inside">
			<h3>Purchase Now:</h3>
			<%= render 'book-options' %>
		</div>
	</div>

	<div class="bulk">
		<div class="inside med">

			<div class="image">
				<%= image_tag('reader3.jpg', class: 'img-responsive img1', alt: '') %>
				<%= image_tag('reader2.jpg', class: 'img-responsive img2', alt: '') %>
			</div>	

			<div class="text">
				<h4>Books retail for $22, but we also offer the group rates listed below for anyone interested in providing every member of their team with a gift that will inspire and refuel them. </h4>
				<hr>
				<p><span>Buy 50 books:</span> 10% off order</p>
				<p><span>Buy 100 books:</span> 20% off order</p>
				<p><span>Buy 250 books:</span> 30% off order</p>
				<p><span>Buy 1000 books:</span> 40% off order</p>
			</div>

		</div>
	</div>
</div>

