<% @page_title = "Purchase Options" %>
<% @page_description = "" %>




<div class="book lay1">
	<div class="inside">
		<div class="book-header">
			<div class="text">
				<h2>Ignite your passion.<br><span style="margin-left: 25px;"></span> Find your purpose.<br>Live life with meaning.</h2>
				<h1 style="margin-top:-20px; text-transform: lowercase;margin-left: 25px;">love what you do.</h1>
			</div>
		</div>
	</div>


	<div class="overview">
		<div class="inside">
			<div class="image" tabindex="-1" uk-slideshow="autoplay: true; autoplay-interval: 5000;">
		    <ul class="uk-slideshow-items">
	        <li><%= image_tag('front-cover.jpg', class: 'img-responsive', alt: '') %></li>
	        <li><%= image_tag('back-cover.png', class: 'img-responsive', alt: '') %></li>
		    </ul>

		    <ul class="uk-slideshow-nav uk-dotnav"></ul>
		  </div>

			<div class="text">
				<p>FOR ANYONE ASKING THE QUESTION: DO YOU REALLY LOVE WHAT YOU DO, NOT JUST YOUR JOB, BUT YOUR WHOLE LIFE? DOES IT MAKE YOU HAPPY, PROUD, AND SERVE THOSE AROUND YOU? IN LOVE WHAT YOU DO, DANA SPINOLA WILL HELP YOU CREATE A PLAN FOR YOUR LIFE PROVIDING UNALTERED, FOCUSED, EXHILARATING CLARITY AROUND YOUR PASSION - WHAT MAKES YOUR HEART BEAT. SHE CHALLENGES YOU TO DEFINE YOUR PURPOSE - WHAT BREAKS YOUR HEART. SHE THEN THOUGHTFULLY HELPS YOU WEAVE THEM TOGETHER TO CREATE A LIFE ON FIRE INFUSED WITH MEANING. IT'S NOT SELFISH TO DO WHAT WE LOVE WITH THIS ONE PRECIOUS LIFE, IT'S OUR RESPONSIBILITY.</p>

				<p>AFTER HUNDREDS OF COFFEE REQUESTS TO MEET AND DISCUSS THIS TOPIC OF GETTING UNSTUCK IN A LIFE THAT LACKS MEANING OR SLOWING DOWN AN OVERWHELMED AND OVER SCHEDULED LIFE, DANA HAS PUT THIS ONTO PAPER TO HELP GUIDE YOU TO LOVING WHAT YOU DO, OUTSIDE OF SIMPLY A JOB TITLE AND FOCUS ON WHAT YOU WERE SPECIFICALLY DESIGNED TO DO WITH YOUR ONE PRECIOUS LIFE.</p>
				<div class="purchase">
					<div class="inside">
						<h3>Purchase Options:</h3>
						<%= render 'book-options' %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Dana Spinola is the founder of fab’rik boutiques, free fab’rik non-profit, Asher clothing line, and a mother of four. Forbes called her “one of the five great american entrepreneurs you haven’t heard of yet but should know” because of her dedication to not only building a growing fashion brand but for inspiring a culture of people to weave purpose into their companies and their life. She was voted business person of the year, women making a mark, 40 under 40, and has appeared in dozens of publications from Wall Street Journal to Elle. Motivational and inspirational leader, Dana is committed to reminding women to dream big and then chase those dreams relentlessly.

	Dana wants you to share what inspires you, what ignites your passion, and how you love what you do by joining her launch team. Members of the launch team will receive vip tickets to the fashion show launch party, a private fab’rik discount code, and a free audiobook. By sharing what you love on social media with your copy of the book and tagging #lovewhatyoudo and @danaspinola, you’ll help spread the fire to ignite passion and pursue your purpose while being a part of the mission to inspire others to love what they do.

	 -->


		<!-- Books retail for $22, but we also offer the group rates listed below for anyone looking to reignite the passion that drives their whole team. Order 100+ and Dana will come lead a Dream Session with you and your team! -->


	

</div>