<% @page_title = "Heart" %>
<% @page_description = "" %>

<%= render 'shared/collage-hd' %>
<div class="heart-gram">
	<div class="inside med2-def">
		<div class="layer1">
			<p>Asher Clothing Line</p>
		</div>
		
		<div class="layer2">
			<p>free fab'rik</p>
		</div>

		<div class="layer3">
			<p>fab'rik</p>
		</div>
	</div>
</div>


<div class="asher">
	<div class="inside"></div>
</div>

<div class="freefab">
	<div class="inside"></div>
</div>