<% @page_title = "Speaking Packages & Information" %>
<% @page_description = "Get inspired by motivational speaker, Dana Spinola's message." %>

<div class="spk-info">
	<div class="spk-hd">
		<div class="inside med2-def">
			<div class="text">
				<div class="title"><h1>IGNITE YOUR <span>Passion.</span> FIND YOUR <span>Purpose.</span><br>LIVE LIFE WITH <span>Meaning.</span> </h1></div>
				<h2>We all need a little inspiration from time to time to get us fired up about our future and what we do with our one precious life. Dana's contagious energy brings that message to the forefront as she challenges audiences to live a life full of inspiration, leading with heart, dreaming without limits and the reminder to stay fueled during the journey. Take a look below for key themes of her message. </h2>
			</div>
		</div>
		<div class="inside med-def"><%= image_tag('stage.jpg', class: 'img-responsive full-img', alt: 'Dana Spinola, sitting on the runway before the fashion show') %></div>
	</div>

	<div class="box-sec">
		<div class="inside med2-def">
			<div class="box one">
				<!-- runway video -->
				<h4>Inspire.</h4>
				<div class="quote">
					<a class="fw-sp" href="/past-events#lwyd"><p><span>Imagine if your life was charged with <b> &nbsp;passion</b></span><br>
						<span>so that the work you did </span><br>
						<span>felt like a <b>privilege</b></span><br>
						<span>instead of something to get through every day.
					</span></p></a>

					<a class="mobile-sp" href="/past-events#lwyd"><p>
						<span>Imagine if your life</span> <br>
						<span>was charged with <b> &nbsp;passion</b></span><br>
						<span>so that the work you did </span><br>
						<span>felt like a <b>privilege</b></span><br>
						<span>instead of something </span><br>
						<span>to get through every day.</span>
					</p></a>
				</div>
			</div>

			<div class="box three">
				<h4>Heart.</h4>
				<!-- plywood -->
				<div class="quote">
					<a class="fw-sp" href="/past-events#plywood"><p><span>What makes your <b>heart beat</b></span><br>
					 <span>is your passion </span><br>
					 <span>and what <b>breaks</b> your heart</span><br>
					 <span> is your purpose.</span><br>
					 <span> Passion <b>fuels</b> you and purpose fuels others. </span></p></a>

					<a class="mobile-sp" href="/past-events#plywood"><p>
						<span>What makes your <b>heart beat</b></span><br>
					  <span>is your passion </span><br>
					  <span>and what <b>breaks</b> your heart</span><br>
					  <span> is your purpose.</span><br>
					  <span> Passion <b>fuels</b> you</span><br>
					  <span> and purpose fuels others. </span></p></a>
				</div>
			</div>
			
			<div class="box two">
				<h4>Dream.</h4>
				<!-- uga 40 -->
				<div class="quote">
					<a class="fw-sp" href="/past-events#uga"><p><span>Doing what you love isn’t about </span><br>
					<span>having an enviable career</span><br><span> or any Instagram-worthy marriage, house or family.</span><br>
					<span>Doing what you love is about <b>dreaming</b></span><br>
					<span>and creating a life infused with <b>meaning.</b></span></p></a>

					<a class="mobile-sp" href="/past-events#uga"><p>
						<span>Doing what you love isn’t about </span><br>
						<span>having an enviable career</span><br>
						<span> or any Instagram-worthy</span><br> 
						<span>marriage, house or family.</span><br>
						<span>Doing what you love</span><br>
						<span>is about <b>dreaming</b></span><br>
						<span>and creating a life</span><br>
						<span>rinfused with <b>meaning.</b></span>
					</p></a>
				</div>
			</div>

			<div class="box four">
				<h4>Refuel.</h4>
				<!-- kd video -->
				<div class="quote">
					<p class="fw-sp"><span>I burned out because I was trying to </span><br>
					<span><b>do it all</b>, all by myself.</span><br>
					<span>I had to come to terms with the fact that</span><br> 
					<span>I can do <b>anything</b>, but I can do <b>everything.</b></span></p>

					<p class="mobile-sp">
						<span>I burned out because</span><br>
						<span>I was trying to </span><br>
						<span><b>do it all</b>, all by myself.</span><br>
						<span>I had to come to terms</span><br>
						<span>with the fact that</span><br> 
						<span>I can do <b>anything</b>,</span><br>
						<span> but I can do <b>everything.</b></span></p>
				</div>
			</div>
		</div>
	</div>
</div>