<% @page_title = "Feature Dana" %>
<% @page_description = "" %>


<div class="inside med2-def">
	<p>This will be the press form on Monday.</p>
	name 
	email
	phone
	organization
	website
	press deadline
	feature type
	(dd) in person, phone, email
	feature details

</div>