<% @page_title = "Speaking Packages & Information" %>
<% @page_description = "" %>



<div class="spk-info">
	<div class="spk-hd">
		<div class="inside med2-def">
			<div class="text">
				<div class="title"><h1>IGNITE YOUR <span>Passion.</span> FIND YOUR <span>Purpose.</span><br>LIVE LIFE WITH <span>Meaning.</span> </h1></div>

				<h2>Dana does these amazing things called "dream sessions." Dream sessions are about getting your team excited to dream big for your company or your cause. You decide the number of books you want, and Dana will come to your company or organization, and inspire your team.</h2>
			</div>
		</div>
		<div class="inside med-def"><%= image_tag('stage.jpg', class: 'img-responsive full-img', alt: '') %></div>
	</div>

	<div class="box-sec">
		<div class="inside med2-def">
			<div class="box one">
				<h4>Inspire.</h4>
				<div class="quote">
					<p><span>I want your life to be charged with <b>passion</b></span><br>
					<span>so that the work you do feels like a <b>privilege</b></span><br>
					<span>instead of something to get through every day. </span>
				</div>
			</div>

			<div class="box three">
				<h4>Heart.</h4>
				<div class="quote">
					<p><span><b>Passion</b> fuels you. <b>Purpose</b> fuels others.</span><br>
					<span>Passion may pay the bills, but purpose <b>feeds the soul.</b></span></p>
				</div>
			</div>
			
			<div class="box two">
				<h4>Dream.</h4>
				<div class="quote">
					<p><span>Doing what you love isn’t about </span><br>
					<span>having an enviable career</span><br><span> or any Instagram-worthy marriage, house or family.</span><br>
					<span>Doing what you love is about <b>dreaming</b></span><br>
					<span>and creating a life infused with <b>meaning.</b></span></p>
				</div>
			</div>

			<div class="box four">
				<h4>Refuel.</h4>
				<div class="quote">
					<p><span>I burned out because I was trying to </span><br>
					<span><b>do it all</b>, all by myself.</span><br>
					<span>I had to come to terms with the fact that</span><br> 
					<span>I can do <b>anything</b>, but I can do <b>everything.</b></span></p>
				</div>
			</div>
		</div>
	</div>
</div>