<li>
	<%= link_to '/insta', target: '_blank' do %>
	<span class="" uk-icon="icon: instagram; ratio: 1.1"></span>
  <% end %>
</li>

<li>
	<%= link_to '/fb', target: '_blank' do %>
    <span class="" uk-icon="icon: facebook; ratio: 1.1"></span>
  <% end %>
</li>

<li>
	<%= link_to '/twitter', target: '_blank' do %>
    <span class="" uk-icon="icon: twitter; ratio: 1.1"></span>
  <% end %>
</li>

<!-- preview event
https://www.eventbrite.com/preview?eid=55531951562/

freefab:
http://www.freefabrik.org/volunteer/httpswww-eventbrite-comecity-of-refuge-house-of-cherith-tickets-53867141069/

http://www.freefabrik.org/volunteer/httpswww-eventbrite-comecity-of-refuge-house-of-cherith-tickets-53867658617/

http://www.freefabrik.org/volunteer/httpswww-eventbrite-comecity-of-refuge-house-of-cherith-tickets-53867884292/







For anyone asking the question: Do you really love what you do, not just your job, but your whole life? Does it make you happy, proud, and serve those around you? In love what you do, Dana Spinola will help you create a plan for your life providing unaltered, focused, exhilarating clarity around your passion — what makes your heart beat? She challenges you to define your purpose — what breaks your heart? She then thoughtfully helps you weave them together to create a life on fire infused with meaning. It’s not selfish to do what we love with this one precious life — it’s our responsibility.

After hundreds of coffee requests to meet and discuss this topic of getting unstuck in a life that lacks meaning, or slowing down an overwhelmed and over scheduled life, Dana has put this onto paper to help guide you to loving what you do outside of simply a job title, and focus on what you were specifically designed to do with your one precious life. -->







