<% @page_title = "Book Dana for Your Event" %>
<% @page_description = "" %>

<div class="booking-info">
	<div class="bi-head">
		<div class="inside lg">
			<%= image_tag('speak-hd.jpg', class: 'img-responsive', alt: '') %>

			<div class="text">
				<h1>Interested in Booking Dana?</h1>
				<h2>Fill out the form below, and someone from our team will contact you as soon as possible.</h2>
			</div>
		</div>
	</div>

	<div class="form-section">
		<div class="inside med2-def">
			<%= render 'form' %>
		</div>
	</div>
</div>

