<% @page_title = "Book Dana for Your Event" %>
<% @page_description = "" %>

<div class="booking-info">
	<div class="cat-sec">
		<div class="inside">
			<div class="title"><h1>Get ready to get <span class="lspace">inspired.</span></h1></div>
			<h2>Motivational and inspirational speaker, Dana Spinola, is committed to reminding people to dream big and then chase those dreams relentlessly. As a business leader, philanthropist and working mom, Dana speaks to a wide range of audiences around her message of inspiring a culture of people to weave purpose into their companies and their lives. Take a look at some of her past events to see her in action. To request Dana to speak at your next event, fill out the form below and someone from our team will be in touch soon.</h2>
		</div>
		<div class="inside"><%= image_tag('speak-hd.jpg', class: 'img-responsive full-img', alt: '') %></div>
	</div>

	<div class="form-section">
		<div class="inside">
			<div class="cat-sec inline">
				<div class="cat key">
					<a href="/past-events#keynotes" class="link-title">Keynotes</a>
				</div>

				<div class="cat chat">
					<a href="/past-events#chats" class="link-title">Fireside Chats</a>
				</div>

				<div class="cat pods">
					<a href="/past-events#podcasts" class="link-title">Podcasts</a>
				</div>

				<div class="cat msg">
					<a href="/speaking-info" class="link-title">Messages</a>
				</div>
			</div>

			<div class="lform">
				<%= render 'form' %>
			</div>
		</div>
	</div>