@import "variables";
@import "mixins";

.uk-navbar-nav {}
.uk-navbar-nav>li>a{ padding:0; min-height:auto; }
.navbar-center{
	@include sec-default(); background-color: $white;
	width:87%;@include center-block();
}
// display:block !important;

//*********************************//
//********** header inline *********//
//*********************************//
.logo-name {font-family: $didot; font-size: 33px; text-transform: uppercase; 
	line-height: 1.8rem; letter-spacing: 1px;

	&:hover {text-decoration: none; color: $black; opacity: .7;}
}

.inline-header {@include sec-default();background-color: $white; padding:50px 0 70px;
	.uk-navbar-container.inside{width:90%;background-color: $white;}
	.nb-logo, .uk-navbar-nav { width:270px; width:22%; display: inline-block; float: left;}
	.nb-logo{padding:20px 0px 0;}
	.logo {width:175px; float: left; margin-bottom: 6px;}

	.uk-navbar-nav{width:77%; float: right;
	 	padding:10px 0 10px; margin-top: 15px;
	 	text-align: center;
	}

	.uk-navbar-nav li{
		display: inline-block; float: none;margin: 0px 1.5%;
		border-bottom: 2px solid transparent;

		&.active {border-color: $black;}

		a {font-size: 16px; font-family: $lato; color: $black; text-transform: uppercase; 
			letter-spacing: .8px;padding:0; min-height: auto;}

		&:first-child{margin-left: 0;}
		&.fab {float:right; margin:0;
			.nav-fab {height:17px;}
		}

		// &.active {border-bottom: 1.5px solid $black;}
	}

	.uk-navbar-dropdown{ padding: 10px 5px 15px 10px; margin-top: 15px;
		width:220px;
		// width:auto;
		background-color: $f9;
		.uk-nav.uk-navbar-dropdown-nav {text-align: left;
			li {@include sec-default(); padding:5px 0;
				a{font-weight: normal;text-transform: none; font-size: 14px; letter-spacing: .2px; }
			}
		}
	}
}

.mobile-above {
	@include sec-default(); padding: 20px 0;
	display: none;

	.nb-logo.mobile, .mobile-nav {display: inline-block; float: left;}
	.nb-logo.mobile{width:250px;}
	.mobile-nav {float: right; margin-top:-5px;}
}

.uk-offcanvas-bar.mnav {background-color: $black;
	.uk-nav-header{border-bottom: $border; font-weight: bold; margin-bottom: 10px; color:$white; border-color: $white; font-weight: $semi; letter-spacing: 1px;}
	.uk-nav li.fab img {height:16px;}
	li{border-bottom: 1px solid rgba($white, .2); margin-bottom: 15px; padding-bottom: 6px;}
}

@include bp(tb) {
	.inline-header {
		.nb-logo {width: 29%;}
		.uk-navbar-nav{width:70%;
			li a {font-size:15px;}

			li.fab .nav-fab {height:15px; margin-top: 4px;}
		}
	}
}

@include bp(br) {
	.inline-header {display: none;}
	.mobile-above{display:block;}
}

@include bp(oc) {
	.logo-name {font-size: 29px;}
	.mobile-above .inside{width: 90%}
}

@include bp(ph) {
	.logo-name {font-size: 25px;}
}

@include bp(sm) {
	.mobile-above .mobile-nav {margin-top: -7px;}
}


//*********************************//
//************* footer ************//
//*********************************//

footer {@include sec-default();
	.clearfix.mobile,.clearfix.mob{display: none;}
	.border-row{@include sec-default(); height:6px; margin-bottom: 30px;
		border-top: $border; border-bottom: $border; border-color: rgba($black,.4);
	}
	.top-foot {@include sec-default(); padding:30px 0 20px;
		ul.social, .ft-block.soc h4 {display: inline-block; float: left; width:50%;}
		ul.social{width:35%; float: none; 
			li {position:relative; display: inline-block; float: none; margin: 2px 1px 0;}
		}

		.ft-block {display: inline-block; 
			width:18%; float: left; vertical-align: top;

			&.one {margin-left: 6%; }
			&.three, &.four, &.icons {width:14%;}
			&.soc {width:24%;
				p{margin-top: 0;}
			}
			#mc-embedded-subscribe-form{padding-top: 0;@include sec-default();}
			#mc_embed_signup {@include sec-default();
				form{padding:0;@include sec-default();}
				input.email, .button {display: inline-block; float: left; margin:0; min-width:auto; font-size: 14px;}
				input.email {border-radius: 0; width:67%;}
				.button {background-color: $black; font-family: $lato; text-transform:uppercase; font-size: 13px; border-radius: 0; padding:7.7px 10px;
					height:auto; float:right; width:33%;min-height: auto; line-height: 1rem;
				}
			}
		}

		h4, p, a {text-transform: uppercase; letter-spacing: .3px;}
		h4{margin-bottom: 0px; font-size:1.15rem;font-weight: 600; 
			font-family: $quig; text-transform: none; font-size: 2.2rem; letter-spacing: 1px;
		}
		ul {margin-top:10px; padding:0;}
		li{margin-bottom: 7px; font-size: 15px;}
		li.fab .nav-fab {height:16px;}
	}

	.btm-foot {@include sec-default(); padding: 10px; background-color: $black;
		.copy, .hs {display: inline-block; float: left; width:50%;}
		.hs {float: right; text-align: right;}
		p, a {color: $white; font-size: 11px; letter-spacing: 1.2px; margin: 0;}
	}


	@include bp(tb) {
		.clearfix.mob{display: block;}
		.top-foot {
			h4{font-size:1.8rem;}
			li {font-size: 14px;}
			li.fab .nav-fab {height:15px;}

			.ft-block {
				// width:20%;
				// &.three, &.four{width:15%;}
				&.one {margin-left: 15%;}
				&.one, &.two{width:22%;}
				&.three, &.four{width:15%;}
				&.soc {width:50%; @include center-block(); margin-top: 30px;}
			}
		}
	}

	@include bp(nn) {
		.top-foot {
			.ft-block {
				width:22%;
				&.one {margin-left: 10%;}
			}
		}

		.btm-foot {
			.copy, .hs {@include sec-default(); text-align: center;}
		}
	}

	@include bp(tn) {
		.top-foot {
			.inside{width:95%;}
		}
	}

	@include bp(oc) {
		.clearfix.mobile{display: block;}
		.top-foot {display: none;
			.inside{width:75%;}
			.ft-block.one,.ft-block.two,.ft-block.three,.ft-block.four{width:45%; float: left; margin-left:3%;}
		}
	}
}

.scroll-up {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-indent: -9999px;
  @include sec-bgimage('up2.png');
  background-size: 65%; background-position: center center;
  z-index: 100;
  border: 1px solid $black;
  background-color: $white; 


  // @include bp(tb) { left: 30px;visibility:visible; }
  // @include bp(sm) { left: 15px; }
}