// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";

.honey {position: absolute;left: -9999px;}
.ds-link {@include link(30%, $white); background-color: $black; @include tshadowl(rgba($black, .3));
  text-transform: uppercase;
  &.autoh {height:auto; max-height: auto;}
}
.text-link{font-weight: $semi; color: $black;
  &.und {text-decoration: underline; }
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.full-sec{@include sec-default(); padding: 40px 0;
  &.less {padding:15px 0;}
  &.xtr {padding:80px 0;}
  .inline-img {display: inline-block; float: none; width: 30%;}
}
.full{@include sec-default(); }

.title-line {
  width:50%; height:2px; background-color: $black;
  margin:4px 0 20px;

  &.center{margin-left: auto; margin-right: auto;}
  &.less{width:25%;}
  &.sm{width:40px;}
}

.page-body { @include sec-default(); }

// danaspinola
// atlanta22 
// .lightwidget__tile.vjslider__slide.vjslider__clone
.lightwidget li {padding:20px;}
//*************************************//
//************* HOME ******************//
//************************************//
h2 {line-height: 1.35rem;}
.home {
  .color-text{@include sec-default(); text-align: center; padding: $xpad;
    h1{
      font-size: 1.6rem;
      font-weight: 500; 
      line-height: 3em;
      span {background-color: $black; color:$white; padding:10px 20px;}
    }
  }

  .laysec2{
    @include sec-default(); padding: $xpad; 
    // text-align: center;
    position: relative; z-index: 0; 
    &::before{@include before(); background-color: darken($cream, 1%); height:50%;}
    .box{display: inline-block; width:48%;float:left;
      img {margin-bottom: 15px;}

      &.two {float: right;}
      &:hover {color: $black;}

      h4{font-weight: bold; letter-spacing: 1px; margin-bottom: 0;}
      p{font-size: 16px; letter-spacing: 0; margin-top: 7px;}
      p span {text-transform: none; font-style: italic; font-weight: bold;}
    }
  }

  .insta{@include sec-default(); margin-bottom: 120px;
    .tbox {@include sec-default(); text-align: center; margin-bottom: 20px;
      h4{font-weight: 700; margin-bottom: 0; letter-spacing: 1px; font-size: 1.35rem;}
      h5{margin-top: 7px;letter-spacing: 1px;}
    }
  }

  .news {@include sec-default(); padding: $lpad; text-align: center;
    margin-bottom: 50px;
    position: relative; z-index: 0; 
    &::before{@include before(); background-color: $cream; width:95%; left:2.5%;}
    .title-line {width:10%; opacity: .55;}
    input{width:35%; height: 40.5px; }
    h4{font-weight: 600; font-size: 19px; letter-spacing: 1px; font-family: $monte; margin-bottom: 7px;}
    h4,a {text-transform: uppercase;}   
    li {display: inline-block;}
    ul {padding-left: 0; margin-left: 0; margin-bottom: 0; margin-top:25px;} 
    .socials {width:35%; float:right;}
  }

  #purchase-options{
    .option{display: inline-block; float: left; width:45%;}
    .option.o2 {float: right;}
    .ds-link {@include sec-default();}
  }
}


//*************************************//
//************* USERS ***************//
//************************************//
.sessions, .registrations {
  form {
    .field {@include sec-default();margin-bottom: 25px;}

    .field.check {
      input[type="checkbox"], label {display: inline-block; float: left; width:auto;}
      label {margin-top: 6px; padding-left: 5px;}
    }

    input[type="submit"] {padding:7px 25px; background-color: $black; text-align: center; color: $white; margin:5px 0 15px;
      @include tshadowl(rgba($black,.2));font-size: 15px; height:auto; font-weight: $semi; font-family: $body; width:auto;
    }

    .cancel {font-weight: $semi; color: $red; float: right;}
  }
}

.sessions.show {
  .page-body .inside {width:80%;}
  .left, .right {display: inline-block; float: left; width:45%;}
  .right {float: right;}

  h4{margin-bottom: 0; font-weight: bold; border-bottom: $border; padding-bottom:6px; color:$black;}
  h3{margin:5px 0 10px; font-size: 1.3rem; font-weight: $semi;}
}


//*************************************//
//************* EVENTS ***************//
//************************************//
.events {
  .event-li {display: inline-block; float: left; width:45%; margin-left: 3.5%; margin-bottom: 40px;
    // &:nth-child(2n+2) {float: right;}

    .textbox {@include sec-default();margin-top:20px;
      &:hover {text-decoration: none;}
    }
    h4 {font-weight: bold;letter-spacing: 1px; margin-bottom: 1px;}
    p{font-size: 1rem; margin-top: 0; letter-spacing: .6px;}
  }

  .event-image{margin-bottom: 20px;}
  .event-box {@include sec-default();
    h3, h4, p{margin: 10px 0;}
  }
  
  .form-group.image {
    label{@include sec-default();}
    #event_image{ width:60%; border:1px solid rgba($black,.1);padding:15px; height:auto;}    
  }

  &.edit{
    .thumb {width:100px; margin-bottom: 20px;}
    p.tsmall {margin-bottom: 5px; font-size: 14px; font-weight: 600;}

    .form-group .image-box{ 
      border:1px solid rgba($black,.1);
      padding:15px; height:auto;
    }
    .rmv-img {color: $red; font-size: 14px; font-weight: bold; }
    .current{margin-top: 15px;}
  }
}


//*************************************//
//************* ABOUT ***************//
//************************************//
.about {
  h1, p{margin-top: 0;}
  h1{margin-bottom: 7px;}
  h2{margin-top: 0px; font-size:1.25rem;}

  h1,h2,h3 {
    &.as-title {font-weight: bold; font-size: 1.3rem;margin-bottom: 7px; text-transform: uppercase; letter-spacing: 1px;}
    &.as-title span.norm {letter-spacing: .3px;}
  }

  .ab-sec {@include sec-default();
    .text, .image { display: inline-block; float: left;}
    .image {width:28%; float: right;}
    .text {width:65%; padding:50px 0;}

    &.philanth, &.rec {
      .text {float:right;}
      .image {float: left;}
    }

    p{font-size: 16px; letter-spacing: .3px; margin-bottom: 20px;}
    // .logo-link {width:200px;}
    .logo.fab {width:130px;}
    .logo.inline {height:65px; display: inline-block;}
    .logo.inline.free {height:80px; margin-left: 25px;}
  }
}






