// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";

.honey {position: absolute;left: -9999px;}
.ds-link {@include link(30%, $white); background-color: $black; @include tshadowl(rgba($black, .3));
  // text-transform: uppercase;
  &.autoh {height:auto; max-height: auto;}
}
.text-link{font-weight: bold; color: $black;
  &.und {text-decoration: underline; }
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.full-sec{@include sec-default(); padding: 40px 0;
  &.less {padding:15px 0;}
  &.xtr {padding:80px 0;}
  .inline-img {display: inline-block; float: none; width: 30%;}
}
.full{@include sec-default(); }

.title-line {
  width:50%; height:2px; background-color: $black;
  margin:4px 0 20px;

  &.center{margin-left: auto; margin-right: auto;}
  &.less{width:25%;}
  &.sm{width:40px;}
}

.page-body { @include sec-default(); }

// danaspinola
// atlanta22 
// .lightwidget__tile.vjslider__slide.vjslider__clone
.lightwidget li {padding:20px;}

.ehead { @include sec-default(); padding:50px 0 30px; 
  text-align: center; background-color:$black;

  h1{color:$white;}
  //@include sec-bgimage('speak-hd.jpg'); height: 350px;
}
//*************************************//
//************* HOME ******************//
//************************************//
h2 {line-height: 1.35rem;}
.home {
  .color-text{@include sec-default(); text-align: center; padding: $xpad;
    h1{
      font-size: 1.6rem;
      font-weight: 500; 
      line-height: 3em;
      text-transform: uppercase;
      span {background-color: $black; color:$white; padding:10px 20px;}
    }
    h1.mobile-h1 {display: none;}
  }

  .laysec2{
    @include sec-default(); padding: $xpad; 
    position: relative; z-index: 0; 
    &::before{@include before(); background-color: darken($cream, 1%); height:50%;}
    .box{display: inline-block; width:48%;float:left;
      img {margin-bottom: 15px;}

      &.two {float: right;}
      &:hover {color: $black;}

      h4{font-weight: bold; letter-spacing: 1px; margin-bottom: 0; text-transform: uppercase;}
      p{font-size: 16px; letter-spacing: 0; margin-top: 7px;}
      p span {text-transform: none; font-style: italic; font-weight: bold;}
    }
  }

  .insta{@include sec-default(); margin-bottom: 120px;
    .tbox {@include sec-default(); text-align: center; margin-bottom: 20px;
      h4{font-weight: 700; margin-bottom: 0; letter-spacing: 1px; font-size: 1.35rem; text-transform: uppercase;}
      h5{margin-top: 7px;letter-spacing: 1px;}
    }
  }

  .news {@include sec-default(); padding: $lpad; text-align: center;
    margin-bottom: 50px;
    position: relative; z-index: 0; 
    &::before{@include before(); background-color: $cream; width:95%; left:2.5%;}
    .title-line {width:10%; opacity: .55;}
    input{width:35%; height: 40.5px; }
    h4{font-weight: 600; font-size: 19px; letter-spacing: 1px; font-family: $monte; margin-bottom: 7px;}
    h4,a {text-transform: uppercase;}   
    li {display: inline-block;}
    ul {padding-left: 0; margin-left: 0; margin-bottom: 0; margin-top:25px;} 
    .socials {width:35%; float:right;}
  }

  #purchase-options{
    .option{display: inline-block; float: left; width:45%;}
    .option.o2 {float: right;}
    .ds-link {@include sec-default();}
  }

  @include bp(tb) {
    .color-text, .laysec2 {padding:$xpad-tb;}
    .insta{margin-bottom: 60px;}
    .news {padding:35px 0; margin-bottom:30px;
      .title-line{margin-bottom: 0px;}
      p{font-size:16px;}
    }
    .color-text h1{font-size: 1.45rem; margin-bottom: 0;}
    .laysec2 {
      .box {padding:0 7px;
        img {margin-bottom: 0;}
        h4,p{padding:0 6px;}
        h4{margin-top:30px;}
        p.norm {margin-top: 4px;}
      }
    }
  }

  @include bp(tn) {
    .color-text, .laysec2 {padding:$xpad-tn;}

    .color-text h1{font-size: 1.3rem;}
    
    .laysec2 {
      .box {
        h4{font-size: 1.1rem;}
        p{font-size:15px;}
      }
    }

    .news h4{font-size:18px;}
  }

  @include bp(md) {
    .color-text h1{font-size: 1.2rem;}

    .news p{font-size:15px;}
  }

  @include bp(oc) {
    .color-text {
      .inside.med2-def{width:95%;}
      h1.full-h1 {display: none;}
      h1.mobile-h1 {display: block; margin-top: 0;}
    }

    .laysec2 {
      .box.one, .box.two { 
        width:80%; @include center-block(); margin-top: 20px;
        // img {width:90%; @include center-block();}
        h4{font-size: 17px;}
      }
      .box.two {margin-top: 70px;}
    }
  }
}


//*************************************//
//************* USERS ***************//
//************************************//
.sessions, .registrations {
  form {
    .field {@include sec-default();margin-bottom: 25px;}

    .field.check {
      input[type="checkbox"], label {display: inline-block; float: left; width:auto;}
      label {margin-top: 6px; padding-left: 5px;}
    }

    input[type="submit"] {padding:7px 25px; background-color: $black; text-align: center; color: $white; margin:5px 0 15px;
      @include tshadowl(rgba($black,.2));font-size: 15px; height:auto; font-weight: $semi; font-family: $body; width:auto;
    }

    .cancel {font-weight: $semi; color: $red; float: right;}
  }
}

.sessions.show {
  .page-body .inside {width:80%;}
  .left, .right {display: inline-block; float: left; width:45%;}
  .right {float: right;}

  h4{margin-bottom: 0; font-weight: bold; border-bottom: $border; padding-bottom:6px; color:$black;}
  h3{margin:5px 0 10px; font-size: 1.3rem; font-weight: $semi;}
}


//*************************************//
//************* EVENTS ***************//
//************************************//
.event-lay {
  h4 {font-weight: bold;letter-spacing: 1px; margin-bottom: 1px;}
  p{font-size: 1rem; margin-top: 0; letter-spacing: .6px;}
  .event-box{
    h3, h4, p{margin: 10px 0;}
  }

  .ehead{text-align: left; }
  .event-list {@include sec-default(); padding:$lpad;}

  .event-fw {@include sec-default(); margin-bottom: 60px;
    padding-bottom: 60px;border-bottom: $border;
    .textbox, img {display: inline-block; float:left; width:50%;}
    .textbox{float:right; width:45%; margin-top: 8%;}
  }

  .event-vid{@include sec-default();margin-bottom: 60px;
    padding-bottom: 40px;border-bottom: $border;
    // width:640px; height:480px;
    iframe {@include sec-default(); min-height:350px; margin-bottom: 15px;}
  }

  .e-list, .p-list {display: inline-block; float:left; width:60%; }
  .e-list h4{padding-left:15px;}
  .p-list {width:28%; float:right; 
    // margin-top:80px;
    h4{color: darken($gold, 20%);}
    .event-fw{margin-bottom:15px; padding-bottom:15px;}
  }
}


.events{
  .form-group.image {
    label{@include sec-default();}
    #event_image{ width:60%; border:1px solid rgba($black,.1);padding:15px; height:auto;}    
  }

  &.index {
    .ehead{padding-bottom: 0px;}
    .event-list {@include sec-default(); position: relative; z-index: 0; padding-top:0;
      &::before{@include before(); width:90%; left:5%; height: 55px; background-color: $black;}
    }
  }

  &.edit{
    .thumb {width:100px; margin-bottom: 20px;}
    p.tsmall {margin-bottom: 5px; font-size: 14px; font-weight: 600;}

    .form-group .image-box{ 
      border:1px solid rgba($black,.1);
      padding:15px; height:auto;
    }
    .rmv-img {color: $red; font-size: 14px; font-weight: bold; }
    .current{margin-top: 15px;}
  }
}

.past-events {
  // .ehead, .event-list::before{background-color: $gold;}
  .ehead{padding-bottom:30px; 
    // padding:15px 0 0;
    // width:90%; @include center-block(); background-color:$white;border-bottom: 1px solid rgba($black,.4);padding-bottom:0; padding-left:0;
    // h1{color:$black;}
  }
  .event-list{ 
    &::before {display: none;}
  }

  .intro {@include sec-default(); padding:0px 0 40px;
    // width:85%; @include center-block();
    h3{font-size:1.1rem;}
  }
}

.press {
  .event-li {display: inline-block; float: left; margin-bottom: 40px; border:$border;
    // width:45%; margin-left: 3.5%;
    width:48%; 
    &:nth-child(2n+2){float:right;}

    .article-img{border-bottom:$border;}
    .textbox {@include sec-default(); padding:20px;
      &:hover {text-decoration: none;}
    }
    
    .event-image{margin-bottom: 20px;}
    .event-box {@include sec-default();}

    // p.pub {margin-bottom: 0; font-size:15px; }
    p{font-size:15px; margin-bottom: 0;}
    p.text-link{color: $dgold; margin-top:10px;}
    h4{margin-top: 5px; font-size:1.2rem;}
  }
}

//*************************************//
//************* ABOUT ***************//
//************************************//
.about {
  h1, p{margin-top: 0;}
  h1{margin-bottom: 7px;}
  h2{margin-top: 0px; font-size:1.25rem;}

  h1,h2,h3 {
    &.as-title {font-weight: bold; font-size: 1.3rem;margin-bottom: 7px; text-transform: uppercase; letter-spacing: 1px;}
    &.as-title span.norm {letter-spacing: .3px;}
  }

  .ab-sec {@include sec-default(); padding:50px 0; 
    .text, .image { display: inline-block; float: left;}
    .text {width:60%; padding:80px 0;}
    .image {width:33%; float: right;}


    position: relative; z-index: 0;
    &::before {@include before();z-index: -1;width:8%;left:59%;}
    &::after{@include after(); z-index: -2; width:40%; left:60%; @include sec-bgimage('dana-bio1.jpg'); background-size: cover; }

    $bio: lighten($gold, 10%);
    $philanth: lighten($gold, 10%);
    $message: $white;
    $rec: $white;

    &.bio{background-color:$bio;
      &::before {
        background: -webkit-linear-gradient(-90deg, rgba($bio, 0) 10%, rgba($bio, .8) 40%, $bio 85%);
        background: linear-gradient(-90deg, rgba($bio, 0) 10%, rgba($bio, .8) 40%, $bio 85%);
      }
    }

    &.philanth{background-color: $philanth;
      &::after {background-image: url(image_path('africa.jpg')); }
      &::before {
        background: -webkit-linear-gradient(-90deg, rgba($philanth, 0) 10%, rgba($philanth, .8) 40%, $philanth 65%);
        background: linear-gradient(-90deg, rgba($philanth, 0) 10%, rgba($philanth, .8) 40%, $philanth 65%);
      }
    }

    &.message{background-color:$message;
      &::after {background-image: url(image_path('family.jpg')); left:0;}
      &::before {left:34%;
        background: -webkit-linear-gradient(90deg, rgba($message, 0) 10%, rgba($message, .8) 40%, $message 75%);
        background: linear-gradient(90deg, rgba($message, 0) 10%, rgba($message, .8) 40%, $message 75%);
      }
    }

    &.rec{background-color:$rec;
      &::after {background-image: url(image_path('dana-bio7.jpg')); left:0;}
      &::before {left:32%;
        background: -webkit-linear-gradient(90deg, rgba($rec, 0) 10%, rgba($rec, .8) 40%, $rec 50%);
        background: linear-gradient(90deg, rgba($rec, 0) 10%, rgba($rec, .8) 40%, $rec 50%);
      }
    }

    &.message, &.rec {
      .text {float:right;}
      .image {float: left;}
    }

    p{font-size: 16px; letter-spacing: .3px; margin-bottom: 20px;}
    .logo.fab {width:130px;}
    .logo.inline {height:55px; display: inline-block; margin: 5px 20px;}
    .logo.inline.free {height:70px; }

  }
  @include bp(tb) {
    h1,h2,h3 {
      &.as-title {font-size: 1.2rem;}
      &.as-title span.norm {letter-spacing: .3px;}
    }

    .ab-sec {padding: 0;
      p{font-size:15px;}
      .inside{width:90%;}
      .text {padding:65px 0;}

      .logo.inline {height:40px;}
      .logo.inline.free {height:60px; }

    //   &::after {width:32%; left:68%;}
    //   &::before{left:67%;}

      &.message::after{background-position: top right;}
    }
  }

  @include bp(mb) {
    .ab-sec {
      .inside{width:85%;}
      .text {padding:35px 0; @include sec-default();}
      &::after, &::before {display: none;}
    }
  }

  @include bp(sm) {
    .ab-sec {
      .inside{width:90%;}
      .text {padding:35px 0; @include sec-default();}
    }
  }
}


//*************************************//
//************* BOOK ***************//
//************************************//
// .book {
//   h1.about{margin-top:-20px;margin-left: 25px;text-transform: lowercase;}
//   h2.about{text-transform: uppercase;}
//   h1.buy {font-weight: normal; margin-top: 0; font-size:1.7rem;}
//   h2.buy {font-weight: bold; text-transform: lowercase; margin-bottom: 0; font-size: 2rem;}

//   .overview {@include sec-default(); padding:$pad; 
//     .text, .image {display: inline-block; float: left; width: 40%;}
//     .text{float: right; width:55%; margin-top:7.5%; }
//     p{text-transform: none;}

//     .uk-slideshow{ height:600px;}
//     .uk-slideshow-items{max-height:100%; height:100%;}
//     .uk-slideshow-nav.uk-dotnav {@include sec-default(); text-align: center; margin-left: none;}
//     .uk-dotnav>* {display:inline-block; float:none; margin:auto;}
//     .uk-dotnav>.uk-active>* {background-color:$black;}
//   }

//   .book-header2 {@include sec-default(); 
//     // height:450px; overflow: hidden;@include sec-bgimage('dana-bio3.jpg'); background-size: 48%; background-position: top right;
//     .text, .image {display: inline-block; float: left; width:45%;}
//     .image{float: right; max-height:450px; overflow: hidden; width:48%;}
//     .text {margin-top: 8%; margin-left: 3%;}
//     span.lmargin{margin-left: 25px;}
//   }

//   .purchase2 {@include sec-default();
//     // padding:$pad; 
//     .option{display: inline-block; float: left; width:45%;}
//     .option.o2 {float: right;}
//     .ds-link {@include sec-default();}

//     background-color: $black; padding:30px 0; text-align: center;
//     h3{color:$white;}
//     .option, .option.o2 {width: 30%; float: none; margin: 0 20px;}
//     .ds-link {background-color:$white; color:$black; font-weight: bold; @include tshadowl(rgba($black, .1));}
//   }

//   .bulk {@include sec-default(); padding:$pad;
//     h4 {font-size: 1.15rem;}
//     p span{ font-weight: bold; }

//     .image, .text {display: inline-block; float: left; width:55%;}
//     .text {float:right; width:42%; text-align: center; margin-top: 5%;}

//     .img1, .img2 {display: inline-block; width:48%;}
//     .img2{margin-top:55px; width:55%; background-color: $white; padding:15px 0 0 15px; margin-left: -10%;}
//   }

//   @include bp(tb) {
//     h2.about {font-size:1.5rem;}
//     h1.about {font-size: 1.8rem;}
//     .book-header2 {
//       .image{max-height:400px; width:48%;}
//       .text { width:45%; margin-top: 8%; margin-left: 3%;}
//     }

//     .purchase2 {
//       .option, .option.o2 {width: 40%; margin: 0 20px;}
//     }

//     .overview {padding:60px 0 30px;
//       p{font-size: 16px;}
//       .inside.med{width:85%;}
//       .text, .image {width: 35%;}
//       .text{ width:60%; margin-top:0; }
//       .uk-slideshow{ height:450px;}
//     }
//   }

//   @include bp(tn) {
//     h2.about {font-size:1.35rem;}
//     h1.about {font-size: 1.6rem;}
//     .book-header2 {
//       .image{max-height:320px;}
//     }

//     .purchase2 {
//       .option, .option.o2 {width: 43%; margin: 0 1%;}
//       h3{font-size: 1.25rem;}
//       .ds-link {font-size:14px;}
//     }

//     .overview {padding:60px 0 30px;
//       p{font-size: 15px;}
//       .inside.med{width:85%;}
//       .text, .image {width:80%; @include center-block();}
//       .image{ width:45%; margin-top: 30px; }
//       .uk-slideshow{ height:450px;}
//     }
//   }

//   @include bp(md) {
//     h2.about {font-size:1.2rem;}
//     h1.about {font-size: 1.4rem;}

//     .book-header2 {
//       .image{max-height:290px;}
//       .text { margin-left: 7%; margin-top:11%;}
//     }

//     .overview {padding:40px 0 15px;
//       .inside.med{width:85%;}
//       .text {width:99%;}
//       .image{ width:300px;}
//       .uk-slideshow{ height:430px;}
//     }

//     .purchase2 {padding-bottom: 10px;
//       .option, .option.o2 {width: auto; float:none; margin: 0px 10px 20px; }
//       h3{font-size: 1.15rem;}
//       .ds-link {font-size:14px;padding:10px 30px;}
//     }
//   }

//   @include bp(mb) {
//     h2.about {font-size:1.1rem;}
//     h1.about {font-size: 1.3rem;}

//     .book-header2 {
//       .image{max-height:255px;}
//     }
//   }

//   @include bp(oc) {
//     .book-header2 {
//       h1.about,span.lmargin{margin-left: 0;}
//       .image{max-height:255px;}
//       .text { margin-left: 0; width:52%; text-align:center; margin-top:11%;}
//     }

//     .overview {padding:40px 0 15px;
//       .inside.med{width:85%;}
//       .text {width:99%;}
//       .image{ width:300px;}
//       .uk-slideshow{ height:430px;}
//     }

//     .purchase2 {padding-bottom: 10px;
//       .option, .option.o2 {width: auto; float:none; margin: 0px 10px 20px; }
//       h3{font-size: 1.15rem;}
//       .ds-link {font-size:14px;padding:10px 30px;}
//     }
//   }

//   @include bp(ph) {
//     .book-header2 {padding:15px 0 30px;
//       // @include sec-bgimage('dana-bio3.jpg'); background-position: bottom right; background-size: 38%;
//       .image{display: none;}
//       .text {@include sec-default();margin-top:0;}
//     }
//   }
// }

.buy-the-book .book {
  .book-header2 {
    .text{width:50%; margin-left: 0; margin-top:10%;}
  }

  .bulk.top-blk {padding:0 0 80px; text-align: center; 
    margin-top:-20px;
    .image, .text { width:54%; }
    .text {width:45%; margin-top: 5%;}
    .full.book-pkg {padding-top:40px;}
    p{display: inline-block; float: none; width:24%; font-size:18px;}

    .option {@include sec-default();}
    .option.o2{margin-top: 20px;}
  }

  .purchase3 {@include sec-default(); padding:60px 0; text-align: center;
    h3{font-weight: bold;}
    .option{display: inline-block; float: left; width:45%;}
    .option.o2 {float: right;}
    .ds-link {@include sec-default();}

    .option, .option.o2 {width: 30%; float: none; margin: 0 20px;}
    .ds-link {font-weight: $semi;}
  }

  p.book-pkgs{display: inline-block; float: none; width:24%; font-size:18px; color: $white;
    span{font-weight: bold;}
  }
}

.book {
  h1.about{margin-top:-20px;margin-left: 25px;text-transform: lowercase;}
  h2,h1{text-transform: uppercase;}
  h1{font-weight: $semi; font-size:1.8rem; margin:0;}

  .book-header2 {@include sec-default(); position: relative; 
    // .text, .image {display: inline-block; float: left; width:45%;}
    // .image{ overflow: hidden; width:48%; position: absolute; bottom:0;}
    // .text {margin-top: 8%; float: right; margin-bottom: 5%; border:$border; text-align: center;}
    span.lmargin{margin-left: 25px;}

    

    min-height:451px;@include sec-bgimage('dana-bio3.jpg'); background-size:48%; background-position: bottom left;
    
    .text {width:50%; position: relative; float: right; text-align: center;
      // margin-top: 8%; margin-bottom: 5%;
      padding:70px 30px 70px; margin-top:8%;
      background-image: url(image_path('quote1.png')), url(image_path('quote2.png'));
      background-size:60px, 60px; background-position: top left, bottom right;
      background-repeat: no-repeat, no-repeat;
    }

    .quote1, .quote2{width:60px; position: absolute; display: none;}
    .quote1{margin-left: -10%; margin-top: -6%}
    .quote2 {left:100%;}

  }

  .overview {@include sec-default(); padding:$pad; 
    .text, .image {display: inline-block; float: left; width: 40%;}
    .text{float: right; width:55%; margin-top:7.5%; }
    p{text-transform: none;}

    .uk-slideshow{ height:600px;}
    .uk-slideshow-items{max-height:100%; height:100%;}
    .uk-slideshow-nav.uk-dotnav {@include sec-default(); text-align: center; margin-left: none;}
    .uk-dotnav>* {display:inline-block; float:none; margin:auto;}
    .uk-dotnav>.uk-active>* {background-color:$black;}
  }

  .purchase2 {@include sec-default();
    .option{display: inline-block; float: left; width:45%;}
    .option.o2 {float: right;}
    .ds-link {@include sec-default(); font-size: 16px; letter-spacing: 0;}

    background-color: $black; padding:30px 0; text-align: center;
    h3, h2{color:$white; margin-top: 0;}
    h2{text-transform: lowercase; margin:0;}
    .option, .option.o2 {width: 30%; float: none; margin: 0 20px;}
    .ds-link {background-color:$white; color:$black; font-weight: bold; @include tshadowl(rgba($black, .1));}
  }


  .bulk.top-blk {@include sec-default(); padding:$pad; text-align: center; 
    .image, .text {display: inline-block; float: right; width:54%;}
    .text {float:left; width:43%; text-align: center; margin-top: 12%;}

    .full.book-pkg {padding-top:40px;}
    .img1, .img2 {display: inline-block; width:53%;}
    .img1 {float: right;}
    .img2{margin-top:30px; width:52%; background-color: $white; padding:15px 15px 0 0; margin-right: -12%;}

    h4 {font-size: 1.15rem;}
    p{display: inline-block; float: none; width:24%; font-size:18px;}
    p span{ font-weight: bold; }

    .option {@include sec-default();}
    .option.o2{margin-top: 20px;}
  }

  p.book-pkgs{display: inline-block; float: none; width:24%; font-size:18px; color: $white;
    span{font-weight: bold;}
  }

  @include bp(tb) {
    // h2.about {font-size:1.5rem;}
    // h1.about {font-size: 1.8rem;}
    // .book-header2 {
    //   .image{max-height:400px; width:48%;}
    //   .text { width:45%; margin-top: 8%; margin-left: 3%;}
    // }

    .purchase2 {
      .option, .option.o2 {width: 40%; margin: 0 20px;}
    }

    .overview {padding:60px 0 30px;
      p{font-size: 16px;}
      .inside.med{width:85%;}
      .text, .image {width: 35%;}
      .text{ width:60%; margin-top:0; }
      .uk-slideshow{ height:450px;}
    }
  }

  @include bp(tn) {
    // h2.about {font-size:1.35rem;}
    // h1.about {font-size: 1.6rem;}
    // .book-header2 {
    //   .image{max-height:320px;}
    // }

    .purchase2 {
      .option, .option.o2 {width: 43%; margin: 0 1%;}
      h3{font-size: 1.25rem;}
      .ds-link {font-size:14px;}
    }

    .overview {padding:60px 0 30px;
      p{font-size: 15px;}
      .inside.med{width:85%;}
      .text, .image {width:80%; @include center-block();}
      .image{ width:45%; margin-top: 30px; }
      .uk-slideshow{ height:450px;}
    }
  }

  @include bp(md) {
    // h2.about {font-size:1.2rem;}
    // h1.about {font-size: 1.4rem;}

    // .book-header2 {
    //   .image{max-height:290px;}
    //   .text { margin-left: 7%; margin-top:11%;}
    // }

    .overview {padding:40px 0 15px;
      .inside.med{width:85%;}
      .text {width:99%;}
      .image{ width:300px;}
      .uk-slideshow{ height:430px;}
    }

    .purchase2 {padding-bottom: 10px;
      .option, .option.o2 {width: auto; float:none; margin: 0px 10px 20px; }
      h3{font-size: 1.15rem;}
      .ds-link {font-size:14px;padding:10px 30px;}
    }
  }

  @include bp(mb) {
    // h2.about {font-size:1.1rem;}
    // h1.about {font-size: 1.3rem;}

    // .book-header2 {
    //   .image{max-height:255px;}
    // }
  }

  @include bp(oc) {
    // .book-header2 {
    //   h1.about,span.lmargin{margin-left: 0;}
    //   .image{max-height:255px;}
    //   .text { margin-left: 0; width:52%; text-align:center; margin-top:11%;}
    // }

    .overview {padding:40px 0 15px;
      .inside.med{width:85%;}
      .text {width:99%;}
      .image{ width:300px;}
      .uk-slideshow{ height:430px;}
    }

    .purchase2 {padding-bottom: 10px;
      .option, .option.o2 {width: auto; float:none; margin: 0px 10px 20px; }
      h3{font-size: 1.15rem;}
      .ds-link {font-size:14px;padding:10px 30px;}
    }
  }

  @include bp(ph) {
    // .book-header2 {padding:15px 0 30px;
    //   .image{display: none;}
    //   .text {@include sec-default();margin-top:0;}
    // }
  }
}


//*************************************//
//************* REQUESTS **************//
//************************************//
.booking-info{ @include sec-default();
  .bi-head {@include sec-default(); text-align: center; 
    h1, h2{margin:0;}
    h1{font-size: 1.8rem;}
    h2{font-size: 1.2rem;}
    .text {@include sec-default(); margin-top: 30px;}
  }

  .form-section {@include sec-default(); padding: $pad;
    p.print{margin:0; color: darken($gold, 10%); float: right; margin-top: -45px;}
    h4{font-weight: bold; border-bottom:$border;}

    .image, .form-side {display: inline-block; float: left; width: 50%;}
    .form-side{ width:45%; float:right; }

    // label {font-weight: 600;}
    // input, textarea {border-color:$black;}
    .form-group{
      &.name, &.email, &.phone {width:31%; display: inline-block; float: none; margin: 0 1% 20px;}
      &.eventfg{width:47%; display: inline-block; }
      &.event_date, &.event_link, &.event_type {float: right;}
    }
  }
}


//*************************************//
//************* PACKAGES **************//
//************************************//
.spk-info {
  h1{font-size:1.7rem;margin-bottom: 0;}
  h2{font-size:1.1rem; margin-top: 8px;}

  .spk-hd{@include sec-default(); margin-bottom: 50px;
    // h1,h2{color:$white;}
    .text{width:80%; @include center-block(); text-align: center; padding-top:30px; 
      // @include sec-default(); background-color: $black; padding:20px 40px;
    }
  }

  .package{@include sec-default(); margin:50px 0 100px;
    position: relative; z-index: 0;
    &::before {@include before(); border:5px double $black; width:90%;}
    // &::before {@include before(); height:85%; top: 5%; border:5px double $black; }
    .dets, .image {display: inline-block; float: left; width:55%;}
    .image {width:40%; float: right;  margin-top: -6%;}
    .dets {padding: 55px 0px 65px;}

    &.p1, &.p3{
      .dets{margin-left:6%;}
      .image{margin-right: -8%;}
    }

    &.p2, &.p4{
      .dets {float:right; margin-right: 6%;}
      .image{float: left; margin-left: -8%;}
      &::before{left:10%;}
    }

    h3.pk-title{font-family: $didot; font-size: 2.7rem; margin-bottom: 5px; letter-spacing: 1px; text-transform: uppercase;}
    h4{margin: 0; font-size:1.1rem; font-weight: $semi;}
    p{margin-top:6px;}
  }
}






