// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";

.honey {position: absolute;left: -9999px;}
.ds-link {@include link(30%, $white); background-color: $black; @include tshadowl(rgba($black, .3));
  text-transform: uppercase;
  &.autoh {height:auto; max-height: auto;}
}
.text-link{font-weight: $semi; color: $black;
  &.und {text-decoration: underline; }
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.full-sec{@include sec-default(); padding: 40px 0;
  &.less {padding:15px 0;}
  &.xtr {padding:80px 0;}
  .inline-img {display: inline-block; float: none; width: 30%;}
}
.full{@include sec-default(); }

.title-line {
  width:50%; height:2px; background-color: $black;
  margin:4px 0 20px;

  &.center{margin-left: auto; margin-right: auto;}
  &.less{width:25%;}
  &.sm{width:40px;}
}

.page-body { @include sec-default(); }

// danaspinola
// atlanta22 
// .lightwidget__tile.vjslider__slide.vjslider__clone
.lightwidget li {padding:20px;}

.ehead { @include sec-default(); padding:50px 0 30px; 
  text-align: center; background-color:$black;

  h1{color:$white;}
  //@include sec-bgimage('speak-hd.jpg'); height: 350px;
}
//*************************************//
//************* HOME ******************//
//************************************//
h2 {line-height: 1.35rem;}
.home {
  .color-text{@include sec-default(); text-align: center; padding: $xpad;
    h1{
      font-size: 1.6rem;
      font-weight: 500; 
      line-height: 3em;
      span {background-color: $black; color:$white; padding:10px 20px;}
    }
  }

  .laysec2{
    @include sec-default(); padding: $xpad; 
    // text-align: center;
    position: relative; z-index: 0; 
    &::before{@include before(); background-color: darken($cream, 1%); height:50%;}
    .box{display: inline-block; width:48%;float:left;
      img {margin-bottom: 15px;}

      &.two {float: right;}
      &:hover {color: $black;}

      h4{font-weight: bold; letter-spacing: 1px; margin-bottom: 0;}
      p{font-size: 16px; letter-spacing: 0; margin-top: 7px;}
      p span {text-transform: none; font-style: italic; font-weight: bold;}
    }
  }

  .insta{@include sec-default(); margin-bottom: 120px;
    .tbox {@include sec-default(); text-align: center; margin-bottom: 20px;
      h4{font-weight: 700; margin-bottom: 0; letter-spacing: 1px; font-size: 1.35rem;}
      h5{margin-top: 7px;letter-spacing: 1px;}
    }
  }

  .news {@include sec-default(); padding: $lpad; text-align: center;
    margin-bottom: 50px;
    position: relative; z-index: 0; 
    &::before{@include before(); background-color: $cream; width:95%; left:2.5%;}
    .title-line {width:10%; opacity: .55;}
    input{width:35%; height: 40.5px; }
    h4{font-weight: 600; font-size: 19px; letter-spacing: 1px; font-family: $monte; margin-bottom: 7px;}
    h4,a {text-transform: uppercase;}   
    li {display: inline-block;}
    ul {padding-left: 0; margin-left: 0; margin-bottom: 0; margin-top:25px;} 
    .socials {width:35%; float:right;}
  }

  #purchase-options{
    .option{display: inline-block; float: left; width:45%;}
    .option.o2 {float: right;}
    .ds-link {@include sec-default();}
  }
}


//*************************************//
//************* USERS ***************//
//************************************//
.sessions, .registrations {
  form {
    .field {@include sec-default();margin-bottom: 25px;}

    .field.check {
      input[type="checkbox"], label {display: inline-block; float: left; width:auto;}
      label {margin-top: 6px; padding-left: 5px;}
    }

    input[type="submit"] {padding:7px 25px; background-color: $black; text-align: center; color: $white; margin:5px 0 15px;
      @include tshadowl(rgba($black,.2));font-size: 15px; height:auto; font-weight: $semi; font-family: $body; width:auto;
    }

    .cancel {font-weight: $semi; color: $red; float: right;}
  }
}

.sessions.show {
  .page-body .inside {width:80%;}
  .left, .right {display: inline-block; float: left; width:45%;}
  .right {float: right;}

  h4{margin-bottom: 0; font-weight: bold; border-bottom: $border; padding-bottom:6px; color:$black;}
  h3{margin:5px 0 10px; font-size: 1.3rem; font-weight: $semi;}
}


//*************************************//
//************* EVENTS ***************//
//************************************//
.events {
  .event-li {display: inline-block; float: left; width:45%; margin-left: 3.5%; margin-bottom: 40px;
    // &:nth-child(2n+2) {float: right;}

    .textbox {@include sec-default();margin-top:20px;
      &:hover {text-decoration: none;}
    }
    h4 {font-weight: bold;letter-spacing: 1px; margin-bottom: 1px;}
    p{font-size: 1rem; margin-top: 0; letter-spacing: .6px;}
  }

  .event-image{margin-bottom: 20px;}
  .event-box {@include sec-default();
    h3, h4, p{margin: 10px 0;}
  }
  
  .form-group.image {
    label{@include sec-default();}
    #event_image{ width:60%; border:1px solid rgba($black,.1);padding:15px; height:auto;}    
  }

  &.edit{
    .thumb {width:100px; margin-bottom: 20px;}
    p.tsmall {margin-bottom: 5px; font-size: 14px; font-weight: 600;}

    .form-group .image-box{ 
      border:1px solid rgba($black,.1);
      padding:15px; height:auto;
    }
    .rmv-img {color: $red; font-size: 14px; font-weight: bold; }
    .current{margin-top: 15px;}
  }
}


//*************************************//
//************* ABOUT ***************//
//************************************//
.about {
  h1, p{margin-top: 0;}
  h1{margin-bottom: 7px;}
  h2{margin-top: 0px; font-size:1.25rem;}

  h1,h2,h3 {
    &.as-title {font-weight: bold; font-size: 1.3rem;margin-bottom: 7px; text-transform: uppercase; letter-spacing: 1px;}
    &.as-title span.norm {letter-spacing: .3px;}
  }

  .ab-sec {@include sec-default(); padding:50px 0; 
    .text, .image { display: inline-block; float: left;}
    .image {width:33%; float: right;}
    .text {width:60%; padding:80px 0;}


    position: relative; z-index: 0;
    &::before {@include before();z-index: -1;width:8%;left:59%;}
    &::after{@include after(); z-index: -2; @include sec-bgimage('dana-bio1.jpg'); background-size: 40%; background-position: top right;}

    $bio: lighten($gold, 8%);
    $philanth: $white;
    $message: $cream;
    $rec: $black;

    &.bio{background-color:$bio;
      &::before {
        background: -webkit-linear-gradient(-90deg, rgba($bio, 0) 10%, rgba($bio, .8) 40%, $bio 85%);
        background: linear-gradient(-90deg, rgba($bio, 0) 10%, rgba($bio, .8) 40%, $bio 85%);
      }
    }

    &.philanth{background-color: $philanth;
      &::after {background-image: url(image_path('dana-bio5.jpg')); background-position: top left;}
      &::before {left:33%;
        background: -webkit-linear-gradient(90deg, rgba($philanth, 0) 10%, rgba($philanth, .8) 40%, $philanth 65%);
        background: linear-gradient(90deg, rgba($philanth, 0) 10%, rgba($philanth, .8) 40%, $philanth 65%);
      }
    }

    &.message{background-color:$message;
      &::after {background-image: url(image_path('danas27-crop.jpg')); }
      &::before {left:60%;
        background: -webkit-linear-gradient(-90deg, rgba($message, 0) 10%, rgba($message, .8) 40%, $message 75%);
        background: linear-gradient(-90deg, rgba($message, 0) 10%, rgba($message, .8) 40%, $message 75%);
      }
    }

    &.rec{background-color:$rec;
      p,h3.as-title{color:$white;}
      &::after {background-image: url(image_path('dana-bio7.jpg')); background-position: top left;}
      &::before {left:32%;
        background: -webkit-linear-gradient(90deg, rgba($rec, 0) 10%, rgba($rec, .6) 40%, $rec 80%);
        background: linear-gradient(90deg, rgba($rec, 0) 10%, rgba($rec, .6) 40%, $rec 80%);
      }
    }

    &.philanth, &.rec {
      .text {float:right;}
      .image {float: left;}
    }

    p{font-size: 16px; letter-spacing: .3px; margin-bottom: 20px;}
    .logo.fab {width:130px;}
    .logo.inline {height:55px; display: inline-block; margin: 5px 20px;}
    .logo.inline.free {height:70px; }
  }
}


//*************************************//
//************* BOOK ***************//
//************************************//
.book {
  .overview {@include sec-default(); padding:$pad; 
    .text, .image {display: inline-block; float: left; width: 35%;}
    .text{float: right; width:60%; margin-top:7.5%; }

    .uk-slideshow{ height:600px;}
    .uk-slideshow-items{max-height:100%; height:100%;}
    .uk-slideshow-nav.uk-dotnav {@include sec-default(); text-align: center; margin-left: none;}
    .uk-dotnav>* {display:inline-block; float:none; margin:auto; }
  }

  &.lay2 {
    .book-header2 {@include sec-default(); 
      // height:450px; overflow: hidden;@include sec-bgimage('dana-bio3.jpg'); background-size: 48%; background-position: top right;
      .text, .image {display: inline-block; float: left; width:45%;}
      .image{float: right; max-height:450px; overflow: hidden; width:48%;}
      .text {margin-top: 8%; margin-left: 3%;}
    }

    .purchase2 {@include sec-default();
      // padding:$pad; 
      .option{display: inline-block; float: left; width:45%;}
      .option.o2 {float: right;}
      .ds-link {@include sec-default();}

      background-color: $black; padding:30px 0; text-align: center;
      h3{color:$white;}
      .option, .option.o2 {width: 30%; float: none; margin: 0 20px;}
      .ds-link {background-color:$white; color:$black; font-weight: bold; @include tshadowl(rgba($black, .1));}
    }
  }

  &.lay1 {@include sec-default();
    .book-header {@include sec-default(); height:600px;
      @include sec-bgimage('danas-book64.jpg'); background-size: 72%; background-position: center right;

      .text {margin-left: 4%;}
    }
    .purchase {@include sec-default(); 
      // padding:$pad;
      .option{display: inline-block; float: left; width:45%;}
      .option.o2 {float: right;}
      .ds-link {@include sec-default(); }
    }

    .overview {
      .text {margin-top:2.5%;}
      .purchase {margin-top:15px; text-align: center;}
      h3 {font-size:1.2rem; }
    }
  }

}





//*************************************//
//************* REQUESTS **************//
//************************************//
.booking-info{ @include sec-default();
  .bi-head {@include sec-default(); text-align: center; 
    h1, h2{margin:0;}
    h1{font-size: 1.8rem;}
    h2{font-size: 1.2rem;}
    .text {@include sec-default(); margin-top: 30px;}
  }

  .form-section {@include sec-default(); padding: $pad;
    p.print{margin:0; color: darken($gold, 10%); float: right; margin-top: -45px;}
    h4{font-weight: bold; border-bottom:$border;}

    .image, .form-side {display: inline-block; float: left; width: 50%;}
    .form-side{ width:45%; float:right; }

    // label {font-weight: 600;}
    // input, textarea {border-color:$black;}
    .form-group{
      &.name, &.email, &.phone {width:31%; display: inline-block; float: none; margin: 0 1% 20px;}
      &.eventfg{width:47%; display: inline-block; }
      &.event_date, &.event_link, &.event_type {float: right;}
    }
  }

  .past-events { @include sec-default(); padding: $pad;
    .image, .list {display: inline-block; float: left; width:50%;}
    .list {width:45%; float: right;}

    h4{font-weight: bold;}
    .pevent{ @include sec-default(); margin-bottom: 15px;}
  }
}


