<% @page_title = "Feature Dana" %>
<% @page_description = "Fill out the form below if you are interested in featuring Dana Spinola in your publication." %>

	<div class="inside med2-def">
		<div class="title"><h1>Feature Dana</h1></div>
	</div>

	<div class="form-section">
		<div class="inside narrow-def">
			<div class="lform">
				<%= render 'form2' %>
			</div>
		</div>
	</div>