<footer>
	<div class="top-foot">
		<div class="inside xl">
			<div class="ft-block one">
				<h4>Book</h4>
				<ul>
					<li>Buy the Book</li>
					<li>Book Tour</li>
				</ul>
			</div>
			
			<div class="ft-block two">
				<h4>Speaking</h4>
				<ul>
					<li>Talks</li>
					<li>Book Dana</li>
				</ul>
			</div>

			<div class="ft-block three">
				<h4>External</h4>
				<ul>
					<li>Asher</li>
					<li class="norm">free fab'rik</li>
					<li class="norm">fab'rik</li>
				</ul>
			</div>

			<div class="ft-block four">
				<h4>Company</h4>
				<ul>
					<li>About</li>
					<li>Contact</li>
					<li>Blog</li>
					<li>Press</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="btm-foot">
		<div class="inside xl">
			<div class="copy"><p>Copyright <%= Time.now.year %> Dana Spinola. All rights reserved. </p></div>
			<div class="hs"><p>Design by <%= link_to "High Seas Design House.", 'https://hsdesignhouse.com', target: '_blank' %> </p></div>
		</div>
	</div>
</footer>